<h1>Change Maker</h1>

<form action="/results" method="get">
  <div class="form-group">
    <label for="input">Enter an amount to see how to make change</label>
    <input class="form-control" type="number" step="any" name="input" id="input">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
